@import url(cssreset-min.css);
@import url(cssfonts-min.css);
@import "compass";
/* Basic {{{ */
html, body {
    background: #fff;
    font-size: 13px;
    font-family: Helvetica,arial,freesans,clean,sans-serif;
    line-height: 1.5;
}
input, textarea, select, option {
    color: #333;
    font-size: 13px;
    font-family: Helvetica,arial,freesans,clean,sans-serif;
}
a {
    &:link, &:visited {
        color: #4183C4;
        text-decoration: none;
    }
}
i {
    font-style: normal;
    color: #a00;
}
table {
    th, td {
        padding: 5px;
    }
    th {
        background: #efefef;
        font-weight: bold;
    }
}
strong, h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
em {
    color: #a00;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 19px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 15px;
}
/* }}} */
/* Button {{{ */
#wiki_add_attachment a,
.issue #relations .contextual a,
.issue #issue_tree .contextual a,
.journal .contextual a,
a.icon {
    border: 1px solid #D4D4D4;
    color: #333333;
    font-size: 11px;
    font-weight: bold;
    height: 21px;
    line-height: 21px;
    min-width: 54px;
    padding: 1px 5px 0;
    position: relative;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    @include background-image(linear-gradient(#f4f4f4, #ececec));
    @include border-radius(3px);
    @include inline-block();
    @include text-shadow(1px 1px 0 #fff);
    &:hover {
        border-color: #518cc6 #518cc6 #2a65a0;
        color: #fff;
        @include background-image(linear-gradient(#599bdc, #3072b3));
        @include text-shadow(-1px -1px 0 rgba(0, 0, 0, 0.3));
    }
}
input[type=submit], button {
    border-color: #ddd #ddd #bbb;
    border-style: solid;
    border-width: 1px;
    color: #666666;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 15px;
    position: relative;
    @include text-shadow(0 1px rgba(255, 255, 255, 0.9));
    @include background-image(linear-gradient(#f5f5f5 #e5e5e5));
    @include border-radius(3px);
    @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.1));
    &:hover {
        border-color: #74bb5a #74bb5a #509338;
        color: #fff;
        @include background-image(linear-gradient(#8add6d #60b044));
        @include box-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
        @include text-shadow(0 -1px 0 rgba(0, 0, 0, 0.4));
    }
}
.flash {
    background: #c8f2c8;
    color: #2f7d35;
    @include border-radius(5px);
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 1px auto 13px;
    padding: 0 15px;
}
/* Button }}} */
/* Clear Floating {{{ */
#header, #main, #top-menu, #main #content .wiki,
#header #main-menu ul, .clearfix, #attributes {
    zoom: 1;
}
#header #main-menu ul:after, #attributes:after, #tabular:after, #watchers_form:after,
#main:after, #top-menu:after, #main #content .wiki:after, .clearfix:after {
    content: "";
    display: block;
    clear: both;
}
/* Clear Floating }}} */
/* #top-menu {{{ */
#top-menu {
    border-bottom: solid 1px #cacaca;
    background-repeat: repeat;
    font-size: 11px;
    @include background-image(linear-gradient(#fafafa, #eaeaea));
    @include box-shadow(0 1px 0 rgba(255, 255, 255, 0.4), 0 0 10px rgba(0, 0, 0, 0.1));
    #account, #loggedas {
        float: right;
        margin-right: 8px;
    }
    ul li {
        display: inline-block;
        margin-right: 8px;
    }
    a {
        color: #222;
        font-weight: bold;
        display: inline-block;
        padding: 5px;
        @include text-shadow(0 1px 0 rgba(255, 255, 255, 0.5));
        &:hover {
            text-decoration: underline;
        }
    }
}
/* }}} */
/* #header {{{ */
#header {
    padding: 8px;
    background: url(../images/logo_miiicasa_170x40.png) 10px 10px no-repeat;
    h1 {
        text-indent: -1000em;
        height: 60px;
    }
    #quick-search {
        float: right;
        text-align: right;
        form {
            margin-bottom: 5px;
            input {
                color: #999;
                padding: 5px;
                width: 200px;
                border-color: solid 1px #eee;
                @include box-shadow(0 1px 0 #f1f1f1, 0 1px 1px #e0e0e0 inset);
            }
        }
        select {
            padding: 3px;
        }
    }
    /* #main-menu {{{ */
    #main-menu {
        font-size: 12px;
        font-weight: bold;
        border: solid 1px #cacaca;
        margin-top: 10px;
        @include border-radius(4px);
        @include background-image(linear-gradient(top, rgb(250, 250, 250), rgb(234, 234, 234)));
        @include box-shadow(rgba(255, 255, 255, 0.398) 0px 1px 0px 0px, rgba(0, 0, 0, 0.098) 0px 0px 10px 0px);
        ul li {
            float: left;
            a {
                color: #999;
                padding: 8px 8px 5px;
                font-size: 106%;
                text-decoration: none;
                @include inline-block();
                &.selected {
                    color: #000;
                    border-bottom: 2px solid #d26911;
                }
                &:link, &:visited {
                    text-decoration: none;
                }
                &:hover {
                    color: #000;
                    border-bottom: 2px solid #999;
                    @include background-image(linear-gradient(#fafbfd, #dce6ef));
                }
            }
        }
    }
    /* }}} */
}
/* }}} */
/* #main {{{ */
#main {
    color: #333;
    line-height: 1.8;
    font-family: 微軟正黑體, "Microsoft JhengHei", 蘋果儷中黑, "Apple LiGothic Medium", Helvetica, arial, freesans, clean, sans-serif;
    margin: 8px;
    position: relative;
    &.nosidebar {
        #sidebar {
            display: none;
        }
        #content {
            width: auto;
            float: none;
        }
        #sidebar {
            display: none;
        }
    }
    /* #main #content {{{ */
    #content {
        float: left;
        font-size: 16px;
        width: 80%;
        h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
            text-decoration: none;
        }
        h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
            color: #ccc;
        }
        dd span.description {
            color: #808080;
        }
        .contextual {
            color: #aaa;
            float: right;
            position: relative;
            top: 13px;
            a {
                @include inline-block;
                margin: 0 5px;
            }
        }
        /* #content #history {{{ */
        #history {
            .journal {
                background: #e6e9f5;
                padding: 8px;
                margin-bottom: 15px;
                @include border-radius(5px);
                p {
                    margin-left: 10px;
                }

            }
        }
        /* #content #history }}} */
        /* #content .wiki-page {{{ */
        .wiki-page {
            a:hover {
                text-decoration: underline;
            }
            .wiki-anchor {
                visibility: hidden;
            }
            h1, h2, h3, h4, h5, h6 {
                border-bottom: dotted 1px #ccc;
                margin-top: 15px;
                margin-bottom: 8px;
                &:hover a.wiki-anchor {
                    visibility: show;
                }
            }
            .toc {
                bottom: 0;
                font-size: 13px;
                width: 180px;
                background: #ffc;
                padding: 10px;
                position: fixed;
                right: 8px;
                li {
                    display: block;
                }
                a {
                    color: #a00;
                }
            }
            pre {
                background: #f8f8f8;
                border: solid 1px #ccc;
                padding: 6px 10px;
                line-height: 19px;
                overflow: auto;
                font-size: 12px;
                font-family: 'Bitstream Vera Sans Mono', Courier, monospace;
                line-height: 1.3;
                margin-bottom: 10px;
                @include border-radius(3px);
                span {
                    font-size: 12px;
                    font-family: 'Bitstream Vera Sans Mono', Courier, monospace;
                    line-height: 1.3;
                }
            }
            code {
                font-size: 12px;
                font-family: 'Bitstream Vera Sans Mono', Courier, monospace;
                line-height: 1.3;
            }
            ul {
                margin: 0 0 8px 20px;
                li {
                    list-style: disc;
                    li {
                        list-style: circle;
                    }
                }
            }
            table {
                th {
                    font-weight: bold;
                }
                th, td {
                    padding: 5px;
                    border: solid 1px #ccc;
                }
            }
        }
        /* }}} */
        /* #content .issue {{{ */
        .issue {
            margin-top: 20px;
            position: relative;
            .wiki {
                margin: 20px 30px 10px;
            }
            h3 {
                margin: 0;
                border-bottom: solid 1px #ccc;
                padding: 5px;
            }
            .author {
                font-size: 11px;
                padding: 0 5px 5px;
                position: absolute;
                top: 15px;
                right: 0;
            }
            div.next-prev-links {
                position: absolute;
                top: -7px;
                right: 0;
            }
            table {
                &.attributes {
                    table-layout: fixed;
                    border: solid 1px #fff;
                    font-size: 13px;
                    width: 100%;
                    @include border-radius(10px);
                    table.progress {
                        background: #fff;
                        td.closed {
                            background: #c8f2c8;
                        }
                    }
                }
                th {
                    background: #d2d7e6;
                    border: none;
                    text-align: right;
                    padding-right: 8px;
                    font-weight: bold;
                    width: 130px;
                }
                td {
                    background: #e6e9f5;
                    border: 1px solid #fff;
                }
            }
            hr {
                display: none;
            }
            strong {
                display: block;
                padding: 5px;
                border-bottom: solid 1px #ccc;
                margin: 0 0 8px;
            }
            .contextual,
            #relations .contextual,
            #issue_tree .contextual {
                top: 0;
            }
        }
        /* issue (end) }}} */
        .new_issue {
            padding: 5px;
            width: 800px;
            @include border-radius(5px);
            text-align: center;
            background: #d2d7e6;
            a {
                font-size: 13px;
                font-weight: bold;
            }
            .tabular {
                margin-bottom: 10px;
                text-align: left;
                p {
                    margin: 0;
                    padding: 3px 0 3px 0;
                    padding-left: 180px; /* width of left column containing the label elements */
                    min-height: 1.8em;
                    clear:left;
                }
                label {
                    font-weight: bold;
                    float: left;
                    text-align: right;
                    margin-left: -130px;
                    width: 115px;
                    &.floating {
                        font-weight: normal;
                        margin-left: 0px;
                        text-align: left;
                        width: 270px;
                    }
                    &.block {
                        font-weight: normal;
                        margin-left: 0px !important;
                        text-align: left;
                        float: none;
                        display: block;
                        width: auto;
                    }
                    &.inline{
                        float: none;
                        margin-left: 5px !important;
                        width: auto;
                    }
                }
            }

            p {
                label {
                    font-size: 13px;
                    font-weight: bold;
                    margin-right: 10px;
                    @include inline-block();
                }
            }
            .splitcontentleft {
                float: left;
                width: 50%;
            }
            .splitcontentright {
                width: 50%;
                float: right;
            }
            label * {
                vertical-align: middle;
            }
            #watchers_form label.floating {
                width: auto;
            }

        }
        /* #content .tabs {{{ */
        .tabs {
            ul {
                margin: 0;
                border-bottom: 1px solid #ddd;
                li {
                    list-style: none;
                    @include inline-block();
                    a {
                        color: #333333;
                        font-size: 12px;
                        font-weight: bold;
                        padding: 4px 12px;
                        @include inline-block();
                        @include border-top-radius(3px);
                        &.selected {
                            background: #fff;
                            border: 1px solid #DDDDDD;
                            border-width: 1px 1px 0;
                            font-weight: bold;
                            margin-bottom: -1px;
                        }
                    }
                }
            }
        }
        /* }}} */
        /* #content .tab-content {{{ */
        .tab-content {
            padding: 20px;
            .box {
                margin-bottom: 10px;
            }
            p {
                display: table-row;
                margin-bottom: 4px;
                font-size: 13px;
                padding: 5px;
                label, input, select {
                    display: table-cell;
                    padding: 5px;
                }
                label {
                    padding-right: 10px;
                }
            }
        }
        /* }}} */
        table.issues {
            background-color: #f8f8f8;
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #cacaca;
            @include border-radius(3px);
            th {
                border-bottom: 1px solid #d8d8d8;
                color: #555555;
                font-weight: bold;
                padding: 6px 3px;
                text-align: left;
                @include background-image(linear-gradient(#fafafa, #eaeaea));
                @include text-shadow(0 1px 0 #FFFFFF);
            }
            td {
                border-bottom: solid 1px #eee;
                padding: 8px;
            }
        }
        .autoscroll {
            background: #eee;
            padding: 3px;
            margin: 10px 0;
            @include border-radius(3px);
        }
        .attachments {
            padding: 10px;
            margin-top: 20px;
            border-top: solid 1px #ccc;
            font-size: 11px;
            overflow: auto;
        }
        .other-formats {
            text-align: center;
            margin: 25px 0 15px;
        }
        .subtitle {
            font-size: 11px;
            margin-top: -10px;
            margin-bottom: 10px;
        }
        dd {
            margin-bottom: 1em;
            font-size: 12px;
        }
        dt {
            line-height: 18px;
            background-position: 0 50%;
            background-repeat: no-repeat;
            &.me .time {
                border-bottom: 1px solid #999;
            }
            .time {
                color: #777;
            }
            a {
                font-size: 16px;
            }
        }
        span.project:after {
            content: " -";
        }
        .project {
            li {
                list-style: disc;
                li {
                    list-style: circle;
                }
            }
        }
    }

    /* }}} */
    /* #main #sidebar {{{ */
    #sidebar {
        border: 1px solid #c5d5dd;
        float: right;
        width: 180px;
        width: 17%;
        margin-bottom: 8px;
        padding-bottom: 5px;
        @include border-radius(4px);
        a {
            display: inline-block;
            padding: 0 6px 6px;
        }
        h3 {
            background: #e6f1f6;
            color:  #4e575b;
            font-size: 16px;
            font-weight: normal;
            padding: 8px;
            margin-bottom: 10px;
            text-align: center;
        }
        p {
            margin-left: 8px;
            line-height: 1.7;
            a {
                text-decoration: none;
            }
        }
        input.button-small {
            display: inline-block;
            margin-top: 15px;
        }
    }
    /* }}} */
    #search-results span.project:after {
        content: " -";
    }
}
/* }}} */
/* #footer {{{ */
#footer {
    border-top: solid 1px #ccc;
    text-align: center;
    font-size: 11px;
    color: #999;
    padding: 10px 0;
}
/* }}} */
.controller-projects,
.controller-welcome {
    #main {
        ul {
            margin: 0 0 8px 20px;
            li {
                list-style: disc;
                li {
                    list-style: circle;
                }
            }
        }
    }
}
.wiki-edit {
    width: 600px;
    height: 200px;
}
.required {
    color: #a00;
}
